.cmd {
    border: #5b6868 1px solid;
}

#main_div span {
    font-weight: bold;
    color: cadetblue;
}

.perm {
    display: flex;
    justify-content: space-around;
}
.perm p {
    background-color: #6d8f85;
    padding: 15px;
}