{% extends 'skeleton.html' %}

{% block links %}
    <link rel="stylesheet" href={{ url_for('static', filename="commands.css") }} />
{% endblock %}

{% block title %}{{ lang['commands_title'] }}{% endblock %}

{% block body %}
    <script src="{{ url_for('static', filename='commands.js') }}"></script>

    <p>
        {{ lang['commands_intro'] }}
        <a href={{ url_for('features') }}>{{ lang['commands_intro_link'] }}</a>
        {{ lang['commands_intro_2'] }}
        <a href={{ url_for('dashboard') }}>{{ lang['commands_intro_link_2'] }}</a>
        {{ lang['commands_intro_3'] }}
    </p>
    {% if command_list %}
        {% for command in command_list %}
            <div class="cmd">
                <h1>{{ command['module'] }} : <span>{{ command['command'] }}</span></h1>
                <p>
                    {{ command['description'] }}
                </p>
                {% if command['perm'] != "None" %}
                    <div class="perm">
                        <p>
                            {{ lang['commands_perm'] }} : <strong>{{ command['perm'] }}</strong>
                        </p>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}