{% extends 'skeleton.html' %}

{% block links %}
    <link rel="stylesheet" href={{ url_for('static', filename="dashboard.css") }} />
{% endblock %}

{% block title %}{{ lang['dashboard_title'] }}{% endblock %}

{% block body %}
    {% if not guilds %}
        <p id="no-guild">
            {{ lang['dashboard_no-guild'] }}<br />
            {{ lang['dashboard_no-guild_2'] }}<span>{{ lang['dashboard_no-guild_3'] }}</span>{{ lang['dashboard_no-guild_4'] }}
        </p>
    {% else %}
        {% for g in guilds %}
            <div class="guild">
                <div class="guild_in">
                    {% if g['icon'] %}
                        <img src="https://cdn.discordapp.com/icons/{{ g['id'] }}/{{ g['icon'] }}.png" alt="{{ g['name'] }}" />
                    {% else %}
                        <img src="https://discordapp.com/assets/dd4dbc0016779df1378e7812eabaa04d.png" alt="{{ g['name'] }}"/>
                    {% endif %}
                    <div class="guild_p">
                        <p><a href={{ url_for('dashboard_server', guild_id=g['id']) }} >{{ g['name'] }}</a></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}