{% extends 'skeleton.html' %}

{% block links %}
    <link rel="stylesheet" href={{ url_for('static', filename="dashboard.css") }} />
{% endblock %}

{% block title %}{{ lang['dashboard_title'] }}{% endblock %}

{% block body %}
    {% if not guilds %}
        <p id="no-guild">
            {{ lang['dashboard_no-guild'] }}<br />
            {{ lang['dashboard_no-guild_2'] }}<span>{{ lang['dashboard_no-guild_3'] }}</span>{{ lang['dashboard_no-guild_4'] }}
        </p>
    {% else %}
        {% for g in guilds %}
            <div class="guild">
                <img src="https://cdn.discordapp.com/icons/{{ g['id'] }}/{{ g['icon'] }}.png" alt="{{ g['name'] }}" />
                <p><a href={{ url_for('dashboard_server', guild_id=g['id']) }} >{{ g['name'] }}</a></p>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}