<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yuuna - Home</title>
</head>
<body>
    <header>
        <button id="header_add_to_server">{{ add }}</button>

        <nav id="main_menu_nav">
            <ul id="main_menu_ul">
                <li><a href="news">{{ news }}</a></li>
                <li><a href="features">{{ features }}</a></li>
                <li><a href="commands">{{ commands }}</a></li>
                <li><a href="dashboard">{{ dashboard }}</a></li>
                <li><a href="about">{{ about }}</a></li>
            </ul>
        </nav>

        <nav id="language">
            <ul id="language_ul">
                <li id="english"><a href="set_english">{{ english }}</a></li>
                <li id="french"><a href="set_french">{{ french }}</a></li>
            </ul>
        </nav>
    </header>

    <footer>
        <button id="footer_add_to_server">{{ add }}</button>
        <ul id="github">
            <li><a href="https://github.com/Esdia/Yuuna">{{ github_bot }}</a></li>
            <li><a href="https://github.com/Esdia/YuunaWebsite">{{ github_website }}</a></li>
        </ul>
    </footer>
</body>
</html>